[submodule "opencv/stage0/opencv"]
	path = opencv/stage0/opencv
	url = http://www.github.com/opencv/opencv
[submodule "opencv/stage0/opencv_contrib"]
	path = opencv/stage0/opencv_contrib
	url = http://www.github.com/opencv/opencv_contrib
[submodule "dev/stage0/cereal"]
	path = dev/stage0/cereal
	url = https://github.com/USCiLab/cereal
[submodule "dev/stage0/pybind11"]
	path = dev/stage0/pybind11
	url = https://github.com/pybind/pybind11
[submodule "dev/stage0/dlib"]
	path = dev/stage0/dlib
	url = https://github.com/davisking/dlib
[submodule "dev/stage0/ct"]
	path = dev/stage0/ct
	url = ssh://dan@percocetpenguin.asuscomm.com:4444/code/ct
[submodule "dev/stage0/ctext"]
	path = dev/stage0/ctext
	url = ssh://dan@percocetpenguin.asuscomm.com:4444/code/ctext
[submodule "dev/stage0/minitensor"]
	path = dev/stage0/minitensor
	url = ssh://dan@percocetpenguin.asuscomm.com:4444/code/minitensor
[submodule "ros/image_common"]
	path = ros/image_common
	url = https://github.com/ros-perception/image_common
[submodule "ros/image_transport_plugins"]
	path = ros/image_transport_plugins
	url = https://github.com/ros-perception/image_transport_plugins
[submodule "ros/rqt_image_view"]
	path = ros/rqt_image_view
	url = https://github.com/ros-visualization/rqt_image_view
[submodule "ros/vision_opencv"]
	path = ros/vision_opencv
	url = https://github.com/ros-perception/vision_opencv
[submodule "dev/stage0/darknet"]
	path = dev/stage0/darknet
	url = https://github.com/AlexeyAB/darknet
[submodule "dev/stage0/colmap"]
	path = dev/stage0/colmap
	url = https://github.com/colmap/colmap.git
